.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background: #111;
    color: rgb(30, 182, 30);
    font-family: monospace;
    min-height: 100vh;
}

.pre {
    white-space: pre-wrap;
    background: #000;
    padding: 20px;
    border-radius: 10px;
    min-height: 60vh;
    overflow-y: auto;
    color: #888
}

.p {
    color: #3ab444;
    font-weight: bold;
}